* {
	box-sizing: border-box;
}

:root {
	--primary-color: rgb(92, 219, 168);
	--secondary-color: #f5f76d;
	--tertiary-color: #36dee1;
}

h1 {
	font-size: 150%;
	margin: 0.2rem;
	text-align: center;
}

.column {
	margin: 0rem 2rem;
	max-width: 80%;
	width: 200rem;
}

.control {
	margin-top: 15px;
}

#search-history {
	margin: 0rem;
}

#logo {
	opacity: 0.9;
	margin-left: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background-attachment: fixed;
}

#hero {
	background-image: url(../images/MusicianCollage.png);
	background-size: contain;
	background-position: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	background-attachment: fixed;
	background-position: 25%;
}

.button {
	text-align: center;
}

.search-bar {
	max-width: 20%;
}

.bd-notification is-info {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.searched-artist {
	margin: 40px 0;
	border-bottom: solid var(--tertiary-color) 1px;
}

#artist-name {
	font-size: 36px;
	font-weight: bold;
	color: var(--tertiary-color);
}

.labelSearch {
	color: var(--primary-color);
	font-weight: 900;
	text-shadow: 5px 5px 10px black;
	font-size: 30px;
}

#search-history {
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0 0.5em 1em 0;
	font-size: 20px;
}

.button {
	background-color: var(--primary-color) !important;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
}

button:hover,
a:hover {
	box-shadow: 0 0.4rem 1.4rem 0 rgba(4, 7, 0, 0.521);
    transition: transform 150ms;
    transform: scale(1.03);
}

.menu-list li {
	line-height: 2;
	font-size: 1rem;
}

 #search-history li{ 
	box-shadow: inset 0 0.4rem 1.4rem 0 rgb(214, 209, 202);
}

.menu-list li:hover {
	background-color: var(--tertiary-color);
	color: rgb(7, 7, 154);
	box-shadow: 0 0.4rem 1.4rem 0 rgba(4, 7, 0, 0.521);
	border-radius: 1px;
	cursor: pointer;
}

.label {
	color: var(--primary-color);
	font-weight: 800;
	font-size: 1.7rem;
}

#lyrics div{
	height: 50vh;   
    overflow: scroll;
    overflow-x: hidden;
	padding : 0 5px;
}

#lyrics div,
#artist-list li {
	font-size: 18px;
}

.copier {
	margin-right: 0.5rem;
}

#placeholder {
	width: 100%;
}

.js-modal-trigger,
#full-song-url {
	margin-left: 30px;
	background-color: white !important;
	color: var(--primary-color) !important;
}

main {
	display: flex;
	justify-content: center;
	flex-wrap: flex;
}

.page-content {
	width: 100%;
	margin-top: 20px;
}